.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  width: 100vw;
  height: 40px;
  background-color: #ffffff;
}

.content {
  margin-top: 40px;
  width: 960px;
  display: flex;
  justify-content: center;
  font-family: "times new roman";
}

.loader {
  border: 26px solid #f3f3f3; /* Light grey */
  border-top: 26px solid #999; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin-top: 50px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
