.list__bestseller {
	margin-top: 20px;
	font-weight: bold;
	font-size: 1.2rem;
}

.list__bestseller > a {
	text-decoration: none;
	color: #000;
}

.list__bestseller:hover > a {
	text-decoration: underline;
}

.list__header {
	font-size: 1.5rem;
	border-bottom: 1px solid black;
}

.booklist {
	list-style-type: none;
	padding: 0;
}

.booklist__item {
	display: flex;
	justify-content: flex-start;
	border-bottom: 1px solid #e2e2e2;
}

.booklist__number {
	display: flex;
	justify-content: center;
	font-size: 1.8rem;
	width: 80px;
	color: #999;
	padding-top: 10px;
}

.booklist__detail {
	padding: 0 10px 10px 10px;
	font-size: 0.8rem;
}

.booklist__weeks,
.booklist__title,
.booklist__author {
	font-family: arial,helvetica,sans-serif;
}
