.category {
	width: 100%;
}

.category__header {
	font-size: 1.3rem;
	border-bottom: 1px solid black;
}

.subcategory {
	border-bottom: 1px solid #e2e2e2;
}

.subcategory__header > a {
	text-decoration: none;
	color: #000;
}

.subcategory__header:hover > a {
	text-decoration: underline;
}

.subcategory__list {
	width: 100%;
}

.books {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding: 0;
}

.books__item {
	width: 100%;
	border-right: 1px solid #e2e2e2;
	padding-right: 15px;
}

.books__item > header {
	display: flex;
	justify-content: center;
	height: 170px;
}

.books__item > header > img {
	height: 170px;
	max-width: 132px;
}

.books__item > article {
	margin-top: 20px;
	padding: 10px;
	font-family: "times new roman";
	font-size: 0.8rem;
}

.book__weeks,
.book__title,
.book__author {
	font-family: arial,helvetica,sans-serif;
}
